<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
<p>Usuário está logado : <p><%= current_user.email %></p></p>
<%else%>
<p>Usuário não está logado</p>
<% end %>
<% if admin_signed_in? %>
<p>Administrador está logado / <p><%= current_admin.email %> </p></p>
<%else%>
<p>Administrador não está logado</p>
<% end %>


